"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
version = 4
# extends = "https://github.com/JanDeDobbeleer/oh-my-posh/blob/main/themes/bubblesextra.omp.json"
final_space = true
async = true


# Block 1: execution time + git + languages + battery
[[blocks]]
alignment = "left"
newline = true
type = "prompt"


  [[blocks.segments]]
  type = "executiontime"
  style = "diamond"
  background = "#29315A"
  foreground = "#AEA4BF"
  leading_diamond = "\ue0b6"
  trailing_diamond = "\ue0b4 "
  template = "{{ .FormattedMs }}"
  [blocks.segments.options]
  style = "austin"
  threshold = 150

  [[blocks.segments]]
  type = "git"
  style = "diamond"
  background = "#29315A"
  foreground = "#43CCEA"
  foreground_templates = [
    "{{ if or (.Working.Changed) (.Staging.Changed) }}#FF9248{{ end }}",
    "{{ if and (gt .Ahead 0) (gt .Behind 0) }}#ff4500{{ end }}",
    "{{ if gt .Ahead 0 }}#B388FF{{ end }}",
    "{{ if gt .Behind 0 }}#B388FF{{ end }}"
  ]
  leading_diamond = "\ue0b6"
  trailing_diamond = "\ue0b4"
  template = " {{ .UpstreamIcon }}{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }} \uf044 {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }} \uf046 {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }} \ueb4b {{ .StashCount }}{{ end }} "
  [blocks.segments.options]
  branch_template = "{{ trunc 25 .Branch }}"
  fetch_status = true
  fetch_upstream_icon = true

  [[blocks.segments]]
  type = "python"
  style = "diamond"
  background = "#29315A"
  foreground = "#E4F34A"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = " \ue235 {{ if .Error }}{{ .Error }}{{ else }}{{ if .Venv }}{{ .Venv }} {{ end }}{{ .Full }}{{ end }}"
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "go"
  style = "diamond"
  background = "#29315A"
  foreground = "#7FD5EA"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = " \ue626{{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}"
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "node"
  style = "diamond"
  background = "#29315A"
  foreground = "#42E66C"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = " \ue718{{ if .PackageManagerIcon }}{{ .PackageManagerIcon }} {{ end }}{{ .Full }}"
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "ruby"
  style = "diamond"
  background = "#29315A"
  foreground = "#E64747"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = " \ue791{{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}"
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "java"
  style = "diamond"
  background = "#29315A"
  foreground = "#E64747"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = " \ue738{{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}"
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "julia"
  style = "diamond"
  background = "#29315A"
  foreground = "#9B6BDF"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = " \ue624{{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }} "
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "php"
  style = "diamond"
  background = "#4063D8"
  foreground = "#ffffff"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = "\ue73d {{ .Full }} "
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "dotnet"
  style = "diamond"
  background = "#29315A"
  foreground = "#7B4F9E"
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = " \ue77f.NET {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}"
  [blocks.segments.options]
  fetch_version = true

  [[blocks.segments]]
  type = "battery"
  style = "diamond"
  background = "#29315A"
  foreground = "#9B6BDF"
  foreground_templates = [
    "{{if eq \"Charging\" .State.String}}#40c4ff{{end}}",
    "{{if eq \"Discharging\" .State.String}}#ff5722{{end}}",
    "{{if eq \"Full\" .State.String}}#4caf50{{end}}"
  ]
  leading_diamond = " \ue0b6"
  trailing_diamond = "\ue0b4"
  template = "{{ if not .Error }}{{ .Icon }}{{ .Percentage }}{{ end }}{{ .Error }}"
  [blocks.segments.options]
  charged_icon = " "
  charging_icon = "\u21e1 "
  discharging_icon = "\u21e3 "


# Block 2: username + path (input line)
[[blocks]]
alignment = "left"
newline = true
type = "prompt"

  [[blocks.segments]]
  type = "text"
  style = "diamond"
  background = "#29315A"
  foreground = "#E64747"
  leading_diamond = "\ue0b6"
  trailing_diamond = "\ue0b0"
  template = " \uf007 {{ .UserName }} "

  [[blocks.segments]]
  type = "path"
  style = "diamond"
  background = "#3D4B76"
  foreground = "#3EC669"
  leading_diamond = ""
  trailing_diamond = "\ue0b0"
  template = " \ue5ff {{ .Path }} \u276f "
  [blocks.segments.options]
  style = "agnoster"
